.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;

  &--navbar {
    display: flex;
    height: 103px;
    justify-content: space-around;
    align-items: center;
  }

  &--mediaReviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    &::after {
      content: "";
      display: block;
      width: 90%;
      height: 2px;
      background-color: #635766;
      margin-top: 40px;
      margin-bottom: 25px;
    }
  }

  &--footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 401px) {
  .container {
    &--navbar {
      justify-content: space-between;
      align-items: center;
      padding: 0px 30px 0;
    }

    &--mediaReviews {
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 481px) {
  .container {
    &--navbar {
      justify-content: space-between;
      align-items: flex-start;
      padding: 25px 30px 0;
    }
    &--mediaReviews {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: 993px) {
  .container {
    &--appFeatures {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
    }

    &--navbar {
      align-items: center;
      padding: 0 30px;
    }

    &--callback {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
