$lato: "Lato", sans-serif;
$purple: #8d81ac;
$violet: #a291a5;
$grey: #848e97;
$darker-grey: #333333;
$dark-grey: #26262a;
$heading-dark: #323232;
$light-white: rgba(255, 255, 255, 0.05);
$med-white: rgba(255, 255, 255, 0.065);
$strong-white: rgba(255, 255, 255, 0.541);
$section-grey: #f4f4f4;
$github: #f3f3f3;
$twitter: #26a6d1;
$facebook: #3b5998;
